@import 'mixins.scss';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

button::first-letter {
  text-transform: capitalize;
}

p::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 45px;
  }
  span {
    display: inline-block;
    font-size: 35px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 0 15px;
  }
}

.section-info {
  width: 40%;
  margin: 50px auto;
  h4 {
    text-transform: capitalize;
    font-weight: 900;
    padding: 15px 0;
  }
  p {
    font-size: 13px;
    color: $dark;
    opacity: 0.5;
    font-weight: 400;
  }
}

// navbar
#navbar {
  background-color: rgba(254, 254, 254, 0.995);

  box-shadow: -1px 0 1px $s-color2;

  .container-lg {
    padding: 20px 0;
  }
  .navbar-part1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    .menu {
      font-weight: 500;
      color: $primaryColor;
      text-shadow: 0 0 1px $primaryColor;
      padding: 0 20px 0 17px;
      display: flex;
      align-items: center;

      .arrow {
        display: block;
        margin-left: 10px;
        font-size: 16px;
      }
    }

    .nav-arrow {
      font-size: 40px;
      position: absolute;
      left: 5%;
      bottom: -80%;

      color: $primaryColor;
    }
    .menu-active {
      background-color: $primaryColor;
      color: $light;
      transition: all 0.4s;
    }

    .search {
      width: 85%;
      background-color: $s-color1;
      color: rgba(180, 178, 178, 0.777);
      box-shadow: 0px 0px 1px rgba(180, 178, 178, 0.777);
      display: inline-flex;
      align-items: center;
      margin-left: 20px;
      input {
        width: 95%;
        color: $primaryColor;
        padding: 0 15px;

        &::placeholder {
          font-size: 14px;
          color: grey;
        }
      }
      .bi-search {
        width: 5%;
        font-size: 20px;

        margin: 0 20px;
      }
    }
  }
  .search,
  .menu,
  .sign-in,
  .sign-up {
    height: 55px;
    border-radius: 8px;
    font-size: 16px;
  }

  .navbar-part2 {
    display: flex;
    align-items: center;

    .basket {
      width: 33px;
      height: 30px;
      margin: 0 15px 0 0;
      img {
        @include img;
      }
    }
    .user {
      font-weight: 900;

      button {
        text-shadow: 0 0 1px grey;
      }
      .sign-up {
        color: $primaryColor;
        padding: 0 8px;
        &:hover {
          background-color: $primaryColor;
          color: $light;
        }
      }

      .sign-in {
        color: grey;
      }

      span {
        font-size: 22px;
        color: $primaryColor;
      }
    }

    .active-user {
      display: inline-flex;
      align-items: center;
      height: 55px;
      padding: 0 20px 0 0;
      border: 1px solid $p-color1;
      text-transform: capitalize;
      color: $primaryColor;
      border-radius: 8px;
      margin-left: 10px;

      .user-avatar {
        width: 65px;
        height: 60px;
        img {
          @include img;
          object-fit: fill;
          border-radius: 50%;
        }
      }

      span {
        font-size: 14px;
      }
    }
  }

  .nav {
    background-color: $primaryColor;
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    top: 100%;
    // margin: 0 auto;
    justify-content: center;
    border-bottom: 1px inset $p-color2;

    z-index: 999;
    .nav-item {
      padding: 10px 5px;
      position: relative;
      &:hover {
        .nav-link {
          color: $textColor !important;
        }
        &::after {
          @include nav-link-before();
          background-color: rgb(207, 149, 223);
          z-index: 2;
        }
      }
    }

    .nav-link {
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      text-transform: capitalize;
      color: rgb(207, 149, 223);
    }
  }

  .active-page {
    color: rgba(249, 147, 249) !important;
  }
}

// header
header {
  background-color: #461356;
  overflow: hidden;
  padding: 50px 0;
  .container-lg {
    padding: 120px 0;
  }

  .mySwiper1 {
    left: 17%;

    @include slider-pagination;
    height: 400px;

    .swiper-slide {
      border-radius: 15px;
      div {
        height: 330px;
        width: 240px;
        margin: 0 auto;
        border-radius: 15px;
        box-shadow: 0px 0px 30px #551868;
        position: relative;
        img {
          border-radius: 15px;
          @include img;
          object-fit: fill;
        }
        @include bestseller-badge;
      }
    }
  }
  .welcome-txt {
    p {
      font-size: 12px;
      color: $p-color5;

      line-height: 1.5;
      text-align: justify;
      padding: 7px 0 0;
    }

    h2 {
      font-size: 40px;
      color: $light;
      text-transform: capitalize;

      line-height: 1.5;
      font-weight: 400;
      strong {
        font-weight: 900;
      }
    }

    .info {
      display: inline-flex;
      padding: 15px 0;
      span {
        margin-right: 40px;
      }
      .d-flex {
        width: 23px;
        height: 23px;

        img {
          object-fit: fill;
          @include img;
        }
        small {
          margin-left: 15px;
          font-size: 22px;
          color: $s-color1;
          font-weight: 500;
        }
      }
      p {
        padding: 5px 0;
      }
    }

    .view-collection {
      width: fit-content;

      a {
        color: $light;
        font-size: 14px;
      }
      padding: 15px 20px;
      background-color: $color2;
      border-radius: 8px;

      span {
        margin-left: 65px;
      }
    }
  }
}

// about
#about {
  background-color: $s-color3;
  padding: 30px 0;

  .img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    img {
      @include img;
      object-fit: cover;
    }
  }

  h6 {
    text-transform: capitalize;
    padding: 8px 0;
    font-weight: 700;
  }
  p {
    font-size: 11px;
    color: grey;
    // padding-right: 8px;
  }
}

// tranding this week
#trending {
  padding: 20px 0;

  .col {
    &:first-child {
      .rating {
        @include trendbook-rating;
        background-color: grey;
        opacity: 0.9;
      }
    }
    &:nth-child(2) {
      .rating {
        @include trendbook-rating;
        background-color: rgb(80, 80, 116);

        opacity: 0.7;
      }
    }
    &:nth-child(3) {
      .rating {
        @include trendbook-rating;
        background-color: rgb(169, 52, 70);
        opacity: 0.9;
      }
    }
    &:nth-child(4) {
      .rating {
        @include trendbook-rating;
        background-color: rgb(158, 202, 158);
        opacity: 0.9;
      }
    }
    &:last-child {
      .rating {
        @include trendbook-rating;
        background-color: rgb(245, 211, 109);
        opacity: 0.8;
      }
    }
  }
  .trending-book {
    max-width: 200px;

    margin: 10px auto;
    .trendbook-header {
      position: relative;
      height: 280px;

      .img-div {
        height: 100%;
        width: 200px;

        img {
          border-radius: 15px;
          @include img;
          object-fit: fill;
        }
      }
    }

    .trendbook-body {
      padding: 20px 0;
      ul {
        padding: 0;
        li {
          display: block;
          text-align: center;
          text-transform: capitalize;
          margin: 0 auto;
          &:first-child {
            color: #ac50bd;

            font-weight: 600;
            font-size: 13px;
            padding: 10px 0;
          }
          &:nth-child(2) {
            color: $dark;
            font-weight: 600;
            font-size: 16px;
          }
          &:nth-child(3),
          del {
            color: #686868;
            font-weight: 500;
            font-size: 12px;
            padding: 5px 0;
          }
          &:last-child {
            color: #ac50bd;
            font-weight: 600;
            font-size: 15px;
            margin-top: 15px;
            border: 1px solid $textColor;
            width: fit-content;
            padding: 8px 15px;
            border-radius: 8px;

            del {
              margin-left: 15px;
            }
          }
        }
      }
    }

    &:hover {
      ul li:last-child {
        background-color: $primaryColor;
        color: $light;
        font-weight: 400;
        del {
          color: $light;
        }
      }
    }
  }
}

// best sellers

#best-sellers {
  h4 {
    font-weight: 700;
    margin-bottom: 40px;
  }
  a {
    color: #9025ac;
    font-weight: 600;
    font-size: 14px;
    justify-self: center;
    i {
      margin-left: 5px;
    }
  }

  .mySwiper2 {
    .swiper-wrapper {
      left: 2%;
    }

    .swiper-slide {
      height: 360px;

      .bestsell {
        width: 400px;
        height: 240px;
        display: flex;
        align-items: center;
        .book-cover {
          width: 40%;
          height: 100%;

          img {
            @include img;
            border-radius: 13px;
            object-fit: fill;
          }
        }

        .book-descr {
          width: 60%;
          padding-left: 25px;
          .book-info {
            padding-top: 7px;
            .category {
              padding: 9px 12px 7px;
              border-radius: 8px;
              font-size: 12px;
              text-transform: capitalize;
              background-color: #f7e7fc;
              color: #772194;
              font-weight: 400;
            }
            .rate {
              padding: 9px 12px;
              color: #ff7c00;
              font-size: 12px;
              background-color: #ffd586;
              margin-left: 10px;
              border-radius: 8px;

              i {
                margin-right: 5px;
              }
            }
          }
          .book-title {
            padding: 25px 15px 25px 0;
            text-transform: capitalize;

            .title {
              font-size: 18px;
              font-weight: 700;
            }
            .author {
              font-size: 16px;
              color: gray;
            }
          }
        }

        .book-price {
          padding: 15px 0;
          .current-price {
            font-size: 25px;
            font-weight: bold;
            color: #772194;
          }
          .price {
            font-size: 15px;
            text-decoration: line-through;
            color: gray;
            display: inline-block;
            margin: 0 7px;
          }
        }
      }
    }

    position: relative;

    @include slider-navigation;
    @include slider-navigation-align;

    .prev {
      left: 8px;
    }
    .next {
      right: 8px;
    }
  }
}

// flash sale

#flash-sale {
  background-color: #5b067d;
  padding: 70px 0;
  overflow: hidden;
  margin: 30px 0;
  .sale-descr {
    color: $light;
    h1 {
      text-transform: capitalize;
      font-weight: 900;
      padding: 10px 0;
    }
    p {
      font-size: 12px;
      color: $p-color5;
      text-align: justify;
    }

    .time {
      display: inline-flex;
      //   width: 100%;
      // justify-content: center;
      border: 1px solid $p-color1;
      border-radius: 10px;

      padding: 10px 0px;
      margin: 10px 0;
      span {
        padding: 0 15px;
        p {
          margin: 0;
          font-weight: 400;
          text-align: center;
          &:first-child {
            font-size: 22px;
            color: $light;

            letter-spacing: 1px;
          }
          &:nth-child(2) {
            font-size: 10px;
            color: $p-color5;
          }
        }
      }
    }
  }

  .mySwiper4 {
    left: 15%;

    .swiper-wrapper {
      left: 2%;

      .swiper-slide {
        width: 460px;

        .book-sale {
          background-color: #380b46;
          border-radius: 15px;
          width: 100%;
          height: 260px;

          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          padding: 17px;
          // box-shadow: 0px 0px 10px #380b46;
          // margin: 0 auto;
          .img-div {
            width: 40%;
            height: 100%;
            img {
              @include img;
              border-radius: 20px;
              object-fit: fill;
            }
          }
        }

        .book-info {
          color: $light;
          width: 60%;
          font-size: 12px;

          ul {
            padding-left: 25px;
            li {
              margin: 25px 0;

              &:first-child {
                font-size: 12px;
                .rate {
                  @include rating;
                  font-size: 10px;
                  margin: 0 10px;
                }
                .category {
                  text-transform: capitalize;
                  color: $primaryColor;
                  font-weight: 700;
                }
              }

              &:nth-child(2) {
                h5,
                small {
                  text-transform: capitalize;
                }
                small {
                  color: $p-color5;
                  font-size: 12px;
                }
              }

              &:nth-child(3) {
                span {
                  color: $p-color1;
                  font-size: 24px;
                  font-weight: 900;
                }
                del {
                  color: $p-color5;
                  margin: 5px 10px;
                  font-size: 14px;
                  letter-spacing: 1px;
                }
                .progress {
                  height: 3px;
                  width: 65%;
                  background-color: $secondaryColor;
                  margin: 10px 0 5px 0;
                }
                .progress-bar {
                  width: 90%;
                  background-color: $color1;
                }
                .left-book {
                  font-size: 10px;
                  color: $p-color5;
                }
                position: relative;
              }

              .add-book {
                width: 50px;
                height: 50px;
                display: block;
                background-color: $p-color1;
                border-radius: 50%;
                position: absolute;
                right: 0%;
                top: 50%;
                transform: translateY(-50%);
                img {
                  width: 35%;
                  height: 35%;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }

    @include slider-navigation2;
    @include slider-navigation-align;

    .prev {
      left: 1%;
    }
    .next {
      right: 15%;
    }

    .swiper-slide-next {
      filter: blur(1px);
    }
  }
}

// latest news
#latest-news {
  padding: 20px 0;
  .news-content {
    .card {
      margin: 0 auto;
    }
  }

  .news-img {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .card {
    height: 420px;
    max-width: 360px;
    border: none;
    padding: 15px;
    border-bottom: 4px solid transparent;
    border-radius: 10px;

    &:hover {
      background-color: $s-color1;
      transform: translateY(-2%);
    }
  }
  .header {
    height: 45%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
      object-position: top;
    }
  }

  .card-body {
    padding: 15px 0px 10px;

    h6 {
      font-size: 16px;
      font-weight: 900;
      line-height: 1.5;
    }
    p {
      font-size: 12px;
      color: grey;
      padding: 5px 0;

      a {
        font-size: 11px;
        color: $primaryColor;

        font-weight: 600;
      }
    }
    .news-author {
      font-size: 13px;
      span {
        color: grey;
      }
    }
  }
  .view-more-different {
    background-color: $primaryColor;
    box-shadow: 0px 0px 3px $p-color1;

    color: rgb(246, 246, 246);
    padding: 17px 20px;
    border-radius: 8px;
    font-size: 14px;
    margin: 50px auto;
    i {
      margin-left: 15px;
    }
    &:hover {
      box-shadow: 0 0 7px $p-color3;
    }
  }
}

// testimonials
#testimonials {
  padding: 5px 0 30px;

  .mySwiper3 {
    padding: 25px 0;
    .swiper-wrapper {
      left: 1%;
    }

    .navigation {
      display: flex;
      margin-left: auto;
      width: fit-content;
      padding: 60px 0;

      div {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: blueviolet;
        margin: 0 5px;
        position: relative;
        i {
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @include slider-navigation;
    }
  }

  .testimonials {
    max-width: 300px;
    padding: 0 20px 10px;
    box-shadow: 2px 2px 10px rgb(246, 245, 247);
    border-radius: 5px;
    transition: all ease 0.04s;
    margin: 0 auto;

    p {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0px 0px 17px rgb(222, 220, 222);
    }

    .rating {
      padding: 20px 0;
      @include rating;
      .fa-star {
        font-size: 18px;
      }
    }
    .testimonial-author {
      text-transform: capitalize;
      font-size: 12px;
    }
    .testimonial-img {
      width: 50px;
      height: 50px;
      img {
        @include img;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

// mini info
#mini-info {
  background-color: #380b46;
  padding: 50px 0;
  img {
    width: 47px;
    height: 45px;
  }

  .content {
    // border: 1px solid white;
    padding: 10px 0;
    .d-flex {
      justify-content: center;

      color: white;
      span {
        margin-left: 30px;
        font-weight: 700;
      }
    }
    p {
      text-align: center;
      font-size: 16px;
      color: rgb(177, 176, 176);

      font-weight: 500;
      padding: 15px 0 0;
      margin: 0;
    }
  }
}
// subscribe
#subscribe {
  padding: 50px 0;
  background-color: #8d27ae;
  .txt {
    p {
      color: white;
      font-size: 33px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }

  .form {
    form {
      display: flex;
    }
    input {
      background-color: #9d49b8;
      width: 75%;
      height: 53px;
      border-radius: 7px;
      box-shadow: 0px 0px 4px #833a99;
      color: white;
      padding: 0 25px;

      &::placeholder {
        color: gainsboro;
        font-weight: 400;
        font-size: 12px;
      }
    }

    button {
      width: 25%;
      height: 53px;
      border-radius: 7px;
      background-color: white;

      margin: 0 15px;

      text-align: center;
      font-size: 12px;
      color: #793f8b;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
// footer
#footer {
  color: rgb(153, 152, 152);
  font-size: 12px;

  .part1 {
    p {
      padding: 25px 20px 20px 0;
      max-width: 320px;
    }

    h6 {
      padding: 10px 12px 10px 0;
    }

    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #c77dde38;
      color: #ac6dbfe8;
      position: relative;
      margin-right: 5px;
      font-size: 13px;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: #793f8b;
        font-size: 16px;
        color: white;
      }
      &:active {
        transform: scale(0.8);
      }
    }
  }

  h6 {
    color: black;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0px 8px;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .part2 {
    display: flex;
    justify-content: space-between;
    ul {
      margin-left: -5px;

      li {
        // display: block;
        list-style: none;
        text-transform: capitalize;
        padding: 8px;
        font-weight: 600;
        border-left: 5px solid transparent;
        // margin: 0 auto;

        &:hover {
          border-left: 3px solid $primaryColor;
          font-size: 14px;
          font-weight: 900;
          text-transform: uppercase;

          color: #772194;
        }
      }
    }
  }

  .part3 {
    h6 {
      padding: 0;
    }
    form {
      display: flex;
      padding: 20px 0;
    }
    input {
      background-color: $secondaryColor;
      width: 65%;
      height: 45px;
      border-radius: 7px;
      color: $primaryColor;
      padding: 0 15px;
      font-size: 13px;
      &::placeholder {
        font-size: 12px;
        color: rgba(128, 128, 128, 0.761);
        font-weight: 400;
      }
    }
    button {
      background-color: #772194;
      height: 45px;
      padding: 0px 15px;
      border-radius: 7px;
      text-align: center;
      margin-left: 10px;

      font-size: 13px;

      color: rgba(255, 255, 255, 0.962);
    }
  }
  .part2,
  .part3 {
    margin-top: 25px;
  }
  .copyright {
    padding: 20px 0;
    border-top: 1px solid $secondaryColor;
  }
}
// sign in / sign up
.modal {
  background-color: $p-color2;

  .modal-dialog {
    width: 380px;
    max-width: 100%;

    .modal-content {
      background-color: $p-color2;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 1px 0px 3px $secondaryColor;

      .modal-header {
        display: block;
        border: none;
        padding: 30px 0 0 !important;

        .close {
          font-size: 30px;
          font-weight: bold;
          border: none;
          background: none;
          position: absolute;
          right: 20px;
          top: 15px;
          color: $secondaryColor;
        }
        .img-div {
          text-align: center;
          img {
            width: 70px;
            height: 60px;
          }
        }
        h2 {
          text-transform: capitalize;
          letter-spacing: 1px;
          line-height: 1.5;
          text-align: center;
          color: $secondaryColor;
          font-weight: 900;
          background-color: transparent;
          margin: 20px 0;
        }
      }
      .modal-body {
        form {
          .form-floating {
            position: relative;
            margin-bottom: 33px;
            &:last-child {
              margin: 0;
            }
            input {
              outline: none;
              border: none;
              border-radius: 0;
              background-color: transparent;
              border-bottom: 2px solid $textColor;
              font-size: 16px;
              color: $s-color1;
              &:focus {
                box-shadow: none;
              }
            }
          }
          label,
          span {
            color: $textColor;
            background-color: transparent;
            padding: 0 15px;
          }

          span {
            font-size: 18px;
            border: 0;
            border-radius: 0;
            border-bottom: 2px solid $textColor;
          }

          small {
            display: block;
            position: absolute;
            color: $color2;
            bottom: -50%;
            transition: ease-in-out;
            margin-bottom: 7px;
          }
        }
      }

      button[type='submit'] {
        background-color: $color2;
        padding: 15px 0;
        color: $textColor;
        border: 2px solid $color2;
        font-size: 22px;
        border-radius: 8px;
        margin-bottom: 0px !important;
        &:focus {
          border: 2px solid $secondaryColor;
        }
        &:disabled {
          opacity: 0.3;
        }
      }

      .signInForm {
        form {
          .form-floating {
            margin-bottom: 40px !important;
          }
          button {
            margin-bottom: 15px !important;
          }
        }
      }
    }
  }
  // position: fixed;
}

.modal::before {
  content: '';
  display: block;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  left: 0;

  border-bottom-right-radius: 100%;
  background-color: $primaryColor;
  opacity: 0.45;
}

// scrollbar

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1240px) {
  .navbar {
    .navbar-part1 {
      width: 640px;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1240px) {
  .navbar {
    .container-lg {
      flex-wrap: wrap;
    }
    .logo {
      width: 30%;
      order: 1;
    }
    .navbar-part1 {
      width: 100% !important;
      order: 3;
      margin-top: 30px;
      justify-content: space-between;
    }
    .navbar-part2 {
      width: 70%;
      order: 2;

      justify-content: flex-end;
    }
  }
  .nav {
    padding: 0 0 0 70px;
    .nav-item {
      padding: 5px !important;
    }
  }
}

@media (max-width: 1200px) {
  header {
    .container-lg {
      padding: 70px;
    }
    .welcome-txt {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      p {
        padding: 40px 0;
        max-width: 500px;

        margin: 0 auto;
      }
      .info,
      .view-collection {
        display: none;
      }
      h2 {
        text-align: center;
        font-size: 50px;
      }
      p {
        text-align: center;
      }
    }
    .header-slider {
      width: 100%;
      padding: 20px 0;
    }
    .mySwiper1 {
      left: 0%;
      height: 380px;
    }

    .swiper-slide {
      height: 300px;
    }
    .swiper-pagenation {
      bottom: -3% !important;
    }
  }
  .mySwiper3 {
    width: 100%;
    .swiper-wrapper {
      left: 0;
    }
  }
}

@media (max-width: 991px) {
  .container-lg {
    padding: 30px 50px !important;
  }
  .txt {
    p {
      text-align: center;
    }
  }
  footer {
    .part1 {
      display: flex;
      justify-content: space-between;
    }
  }

  #subscribe {
    padding: 20px 0 50px !important;
  }
  #flash-sale {
    .mySwiper4 {
      left: 0;
      .swiper-wrapper {
        left: 0;
      }
    }
    .prev {
      left: 0%;
    }
    .next {
      right: 3% !important;
    }

    .sale-descr {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 880px) {
  .mySwiper2 {
    left: 0 !important;
    .swiper-wrapper {
      height: 600px;
      left: 0 !important;
      .swiper-slide {
        height: 100% !important;
        margin: 0 auto !important;
      }
    }

    .bestsell {
      display: flex !important;
      flex-wrap: wrap !important;

      width: 200px !important;
      margin: 0 auto;

      .book-cover {
        width: 100% !important;
        padding: 0 !important;
      }
      .book-descr {
        width: 100% !important;
        padding: 10px 0 0 !important;
        text-align: center;
        .book-title {
          padding-bottom: 10px !important;
          padding-right: 0 !important;
        }
        .book-price {
          padding: 0 !important;
        }
      }
    }

    .bestseller-header {
      flex-wrap: wrap;

      text-align: center;
      h4 {
        width: 100%;
        margin-bottom: 10px !important;
      }

      a {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400 !important;
        // margin: 0 auto;

        display: block;
        padding: 17px 15px;
        border-radius: 8px;
        background-color: $primaryColor;
        color: rgb(246, 246, 246) !important;
        font-size: 13px !important;
        box-shadow: 0px 0px 3px $p-color1;
        // max-width: 200px;
        &:hover,
        &:focus {
          box-shadow: 0 0 7px $p-color3;
        }
      }
    }

    .prev,
    .next {
      display: none;
    }
  }

  #flash-sale {
    .sale-descr,
    .sale-descr p {
      text-align: center;
    }

    .mySwiper4 {
      .book-sale {
        width: 440px !important;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 800px) {
  .navbar {
    .container-lg {
      flex-wrap: wrap;
      width: 100%;
      padding: 20px !important;
    }
    .logo {
      width: 100%;

      justify-content: center;
      padding: 15px 0;
      background-color: #4a0e5c;
      img {
        width: 60px;
        height: 55px;
      }
      span {
        color: $textColor !important;
      }
    }
    .navbar-part1 {
      width: 100%;
      order: 3;
      justify-content: space-between;
      .nav-arrow {
        bottom: -80% !important;
      }
      .nav {
        justify-content: flex-start !important;
        padding: 0 0 0 20px;
        .nav-item {
          padding: 5px !important;
        }
      }
    }
    .navbar-part2 {
      width: 100%;
      order: 2;

      justify-content: flex-end;
      margin-top: 30px;
    }
  }

  .section-info {
    width: 55%;
    margin: 20px auto;
    h4 {
      text-transform: capitalize;
      font-weight: 700;
      padding: 15px 0;
    }
    p {
      font-size: 13px;
      color: $dark;
      opacity: 0.5;
      font-weight: 400;
    }
  }
}

@media (max-width: 576px) {
  .container-lg {
    width: 100%;
    padding: 20px 40px !important;
  }
  .modal {
    padding: 15px 20px;

    .modal-dialog {
      margin: 0 auto;
    }
  }
  header {
    .container-lg {
      padding: 70px 55px;
    }
    .welcome-txt {
      .view-collection {
        display: block;
        margin: 0 auto !important;
      }

      .info {
        display: inline-flex;
        justify-content: center;
        width: 100%;
      }
    }
    .mySwiper1 {
      display: none;
    }
  }

  #about {
    .col-10 {
      text-align: center;
      .img {
        margin: 0 auto;
      }
    }
  }

  #flash-sale {
    display: none;
    .container-lg {
      padding: 15px !important;
    }
    .mySwiper4 {
      .book-sale {
        // width: 260px !important;
      }
    }
  }

  #testimonials {
    .mySwiper3 {
      .navigation {
        margin: 0 auto;
        padding: 40px 0;
      }
      .rating {
        display: flex;
        justify-content: center !important;
        .fa-star {
          padding: 4px;
        }
      }
      p {
        text-align: justify !important;
      }
    }
  }

  footer {
    .part1 {
      display: block;
    }
  }

  .section-info {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .modal {
    .modal-dialog {
      .modal-content {
        padding: 0;
      }

      input {
        font-size: 14px;
      }
    }
  }

  .welcome-txt h2,
  .txt p {
    font-size: 25px;
  }
}

@media (max-width: 370px) {
  .container-lg {
    padding: 10px 20px !important;
  }

  .navbar {
    .container-lg {
      padding: 10px !important;
    }
    .navbar-part1 {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .menu {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
      }

      .nav-arrow {
        z-index: -1;
      }
      .search {
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }

  .modal {
    padding: 15px 10px;
  }

  #subscribe,
  footer .part3 {
    form {
      flex-wrap: wrap;
      input,
      button {
        width: 100% !important;
      }

      button {
        display: block;
        margin: 15px 0 !important;
      }
    }
  }
}
