$primaryColor: #8d27ae;
$p-color1: #9d49b8;
$p-color2: #380b46;
$p-color3: #5c077e;
$p-color4: #461356;
$p-color5: #c5b4ca;

$secondaryColor: #fdf8fe;
$s-color1: #f3f3f3;
$s-color2: #eedff4;
$s-color3: #f8f6f8;

$color1: #ff7a01;
$color2: #c72368;

$dark: black;
$textColor: #e8e7e9;
$light: white;

@mixin section-title {
  text-transform: capitalize;
}

@mixin img {
  width: 100%;
  height: 100%;
}
@mixin nav-link-before {
  content: '';
  width: 100%;
  height: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}
@mixin bestseller-badge {
  &:before {
    content: 'best seller';
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    padding: 15px 25px;
    background-color: #ff7c00;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 25px;
    left: 0;
  }
}
@mixin slider-pagination {
  .swiper-pagination {
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .swiper-pagination-bullet {
    width: 23px;
    height: 4px;
    border-radius: 3px;
    background-color: #ae81c4;

    margin: 0 23px;
  }

  .swiper-pagination-bullet-active {
    width: 35px;
    background-color: #e0c6ed;
  }
}

@mixin slider-navigation {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .prev,
  .next:active {
    background-color: white;
    box-shadow: -5px 10px 10px rgb(243, 230, 248);
    i {
      color: $primaryColor;
    }
  }
  .next,
  .prev:active {
    background-color: $primaryColor;
    box-shadow: 0px 10px 15px rgb(235, 207, 246);

    i {
      color: white;
    }
  }
}

@mixin slider-navigation2 {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .prev,
  .next {
    background-color: white;
    i {
      color: $primaryColor;
    }
  }
  .next:active,
  .prev:active {
    background-color: $primaryColor;
    box-shadow: 0px 10px 15px rgb(235, 207, 246);

    i {
      color: white;
    }
  }
}

@mixin slider-navigation-align {
  .prev,
  .next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@mixin trendbook-rating {
  display: inline-flex;
  align-items: center;
  height: 42px;
  width: 95px;

  border-radius: 20px;

  position: absolute;
  top: 8px;
  left: 9px;

  .star {
    width: 42px;
    height: 42px;
    background-color: $color1;
    border-radius: 50%;
    position: relative;
    i {
      font-size: 14px;
      color: $light;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  span {
    color: $light;
    font-size: 17px;
    margin: 0 15px;
  }
}

// @mixin bestseller-before-aft {
//   content: '';
//   display: block;
//   width: 95px;
//   height: 100%;
//   background-color: $light;
//   position: absolute;
//   top: 0;
//   z-index: 2;
// }

@mixin rating {
  display: inline-block;
  .fa-star {
    color: $color1;
    padding: 1px;
  }
  .checked {
    color: $textColor;
  }
}
